@page "/about-us"

<PageTitle>About Us</PageTitle>
<div class="container">
    <h1>About Us</h1>
    <dl class="row">
        <dt class="col-sm-3">Who are we?</dt>
        <dd>
            We are two people wit time and willingness to learn.
        </dd>

        <dt class="col-sm-3">Meet Us</dt>
        <dd>
            Pedro: I'm Pedro, i'm currently a dotnet developer, despite being focused on develoging
            desktop aplication, I'm very interested in learning Web technologies like Blazor and React.
        </dd>
        <dd>Raphael: Text</dd>

        <dt class="col-sm-3">Why Blazor?</dt>
        <dd>
            Ah we have an HTML student and a dotnet developer, we decided to look for a technology
            where we both had a little experience, so Blazor seemed like an excellent option.
        </dd>

        <dt class="col-sm-3">Why Anime?</dt>
        <dd>
            Haha, This was not an easy choice, as we were going to develop something together we would
            have to choose something that we both liked. Ended up being torn between a Game Reviw Site
            or Anime Review Site.
        </dd>
    </dl>
</div>
@code {

}
