@page "/Review"
<link rel="stylesheet" type="text/css" href="Counter.razor.css" />

<PageTitle>Anime Reviews</PageTitle>

<h1 style="color:#aabbff;text-align:center">Main Reviews</h1>

<div class="row">
	<div class="col-sm-6">
		<div class="card-group">

			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://img.comunidades.net/dig/digitalnews/5fe886f3daa6485efecf1ea6dc5207931343265548_full.jpg" class="img-fluid rounded-start" alt="Sword Art Online Cover">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Sword Art Online</h5>
							<p class="card-text">The story of the first season follows the adventures of Kazuto "Kirito" Kirigaya and Asuna Yuuki, two players who are trapped in the virtual world of "Sword Art Online" (SAO). They are tasked to clear all 100 Floors and defeat the final boss in order to be freed from the game.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							<a href="#" class="btn btn-primary">See this review</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://br.web.img3.acsta.net/pictures/19/09/18/13/46/0198270.jpg" class="img-fluid rounded-start" alt="Demon slayer cover">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Kimetsu no Yaiba (Demon Slayer)</h5>
							<p class="card-text">Kimetsu no Yaiba follows teenage Tanjiro Kamado, who strives to become a demon slayer after his family was slaughtered and his younger sister, Nezuko, turned into a demon. </p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							<a href="#" class="btn btn-primary">See this review</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
