<footer class="generic-footer">
	<div class="container">
		<div class="row d-flex align-items-center">

			<div class="col-lg-6 text-center mt-2 mx-3" id="copyright">
				© Copyright <strong>Pedro and Raphael </strong>All Rights Reserved. 
			</div>
			<div class="col-lg-4" id="infos">
				<nav class="pt-2 pt-lg-0">
					<i class="fa fa-github"></i>
					<a href="https://github.com/pedroluizap" class="me-3" target="_blank" >Pedro Apolinario</a>
					<i class="fa fa-github"></i>
					<a href="https://github.com/ErrorRaphael" target="_blank">Error Rapahel</a>
					<!--  <a href="#">Privacy Policy</a>
					<a href="#">Terms of Use</a>-->
				</nav>
			</div>
		</div>
	</div>
</footer>