@inherits LayoutComponentBase

<div class="page">
    <div class="generic-navbar">
        <NavMenu />
    </div>

    <main>      
        <article>
            @Body
            
        <Footer />

        </article>
    </main>
</div>
