<nav class="navbar @NavMenuCssClass bg-dark" id="generic-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            Navbar
            <button @onclick=ToggleNavMenu class="navbar-toggler" type="button" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span>TESTE </span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <NavLink class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </NavLink>
                <NavLink class="nav-item" href="review">
                    <a class="nav-link">Review</a>
                </NavLink>
                <NavLink class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </NavLink>
            </ul>
        </div>
        <NavLink class="d-flex" href="about-us">
            <a>About Us</a>
        </NavLink>
    </div>
</nav>
